body{
	background: url(../img/T1.jpg);
	background-size: 100% auto; 
	background-repeat: no-repeat; 
}
.menubox{
	border: green solid 1px;
	height: 30px;
	margin-left:20%;
	margin-right: 20%;
}
.menubox div{
	background-size: 100% auto; 
	background-repeat: no-repeat;
	background:url(../img/div.png);
	text-align: center;
	float:left;
	height: 30px;
}
.menubox div div{
	text-align: center;
	height£º100%£»
	width:100%;
}
.childdiv{
	width:100%;
	background-color: lightblue;
}
.childdivh{
	background-color: greenyellow;
}
.vdiv{
	position: absolute;
	background-color: gold;
}